@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  width: auto;
  margin-top: -50px;
  margin-left: -260px;
  margin-right: -225px;
}

.jumbotron {
  margin-left: -200px;
  margin-right: -170px;
}
